.Joke {
  display: flex;
  border-bottom: 2px solid #eeeeee;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding: 1rem;
}

.Joke-buttons {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  width: 10%;
}
