.App {
  height: 100vh;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background: linear-gradient(
    135deg,
    rgba(0, 180, 220, 1) 0%,
    rgba(0, 180, 220, 1) 50%,
    rgba(255, 153, 20, 1) 50%,
    rgba(255, 153, 20, 1) 100%
  );
}
